
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&family=Work+Sans:wght@700&display=swap');

body{
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  padding: 0;

  }
  
.container{
  margin: 120px 200px;
}
.container h1{
  font-size:45px;
}
/*................................................................                    banner
................................................................ */

.banner{
  margin:50px 200px;
}

#logo{
  color: orange;
}
.header{
  font-size:24px;
  display:flex;
  justify-content: space-between;
}
.navbar{
  display:flex;
  justify-content: space-between;
  list-style: none;
}
.nav li a{
  padding: 15px;
  text-decoration: none;
}
.nav li a:hover{
  background:orange;
  color: #fff;
  border:none;
  border-radius:5px;

}
.banner-title{
  text-align:center;
  justify-content:center;
}

.banner-title h1{
  font-size:64px;
  Line height: 75px;  
}
.btn-banner{
  color:#fff;
  background-color:#FF900E;
  padding:10px 20px;
  border:none;
  border-radius:5px;
}


.banner-title img{
  margin-top:50px;
}

/* ...........................
        Quick Features list 
..............................*/
.feature-container{
  display:flex;
}

.img-container{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 10px;
  width:50%;
}

.img-container img{
  width :100%;
}

.feature{
  width:50%;
  display:flex;
  align-items:center;
  margin-left:5%;
 
}

#feature-h1{
  color:gray;
}
#feature-h2{
  color:orange;
}
/*..............................................................                        Experience-container 
..................................................................*/
.experience-container{
  /* margin-top:120px; */
  display:flex;
}
.btn-exp{
  
  color:#fff;
  background-color:#FF900E;
  padding:50px 20px;
  border:none;
  border-radius:5px;
  position:relative;
  top:-30px;
  left:-20px;
}

.experience-detail{
  width:50%;
  padding:30px;
}
.experience-detail h1{
  border-left:4px solid orange;
  padding-left:20px;
}
.experience-img{
  width:50%;
}
.experience-img img{
  width:100%;
  padding:10px;
}
.experience-feature{
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* .........................
          Some facts
............................ */

.feedback{
  display:flex;
  justify-content:space-around;
}
.facts {
  border: 1px solid orange;
  height:200px;
  width:200px;
  text-align:center;
  padding:10px;
  
  
}
.facts:hover {
  animation-name:archetecture;
  animation-duration:6s;
  animation-iteration-count:infinite;
  transform: scale(2,2);
}

/*................................................................                    animation
................................................................ */

@keyframes archetecture{
  0%{
    background: transparent;
  }
  25% { 
    background:yellow;}
  50%{
    background:orange;
  
  }
  100%{
    background:pink;
  }
}
/* ................................................................
          Sponsors
..................................................................*/
.sponsor-container,.contact-container{
  text-align:center;
  justify-content:center;
}
.sponsor{
  display:flex;
  justify-content:space-between;
}
.sponsor img{
  width:10%;
  margin-top:30px;
}
/*................ 
Contact with us 
...................*/
input, select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-container{
    background-color: #FFE4C4;
    padding:20px;
    margin:0px;
    bordar-radius:5px;
}
.contact{
  magin:50px;
  padding:20px;
}
footer{
  text-align:center;
  background:#FFE4C4;
}
/* .....................................................................            resposiveness : Small Divice 
.....................................................................*/
@media screen and (max-width:576px) {
  .container, .banner{
    margin:20px auto;
    text-align:center;
    padding:20px;
  }
  .container h1{
    font-size:30px;
  }
  
  .header, .navbar{
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .banner-title h1{
    font-size:20px;
    ma
  }
 /*.....................................................................
          Quick Features list
...................................................................  */
.feature-container, .experience-container, .sponsor
{
  display:flex;
  flex-direction:column;
}

.img-container{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  gap: 10px;
  width:100%;
}
.feature{
  width:90%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:5%;
  padding:10px;
  font-size:10px;
 
}

#feature-h1{
  color:gray;
}
#feature-h2{
  color:orange;
}

/* .......................
        experience-detail
.............................. */
.experience-detail, .experience-img{
  width:90%;
}


/* .........................
          Some facts
............................ */
.facts-container{
  margin:20px;
}
.feedback{
  display:flex;
  flex-direction:column;
  gap:10px;
  
}

.facts {
  border: 1px solid orange;
  height:200px;
  width:90%;
  text-align:center;
  padding:10px;
}
.btn-exp{
 
  color:#fff;
  background-color:#FF900E;
  padding:50px 20px;
  border:none;
  border-radius:5px;
  position:relative;
  top:-30px;
  left:20px;
}
/* ..................
          Sponsors
.....................*/
.sponsor{
  width:80%;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.sponsor img{
  width:30%;
  height:30%;

}
}





